<div class="row">
	<div class="col-sm-12">
		<p>Name:</p>
		<input class="form-control"></input>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>Street Address:</p>
		<input class="form-control"></input>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>City:</p>
		<input class="form-control"></input>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<p>State:</p>
		<input class="form-control"></input>
	</div>
	<div class="col-sm-6">
		<p>Zip Code:</p>
		<input class="form-control"></input>
	</div>
</div>