<div id="container">
    <div class="row cart-body">
      <div class="col-lg-6 panel panel-info">
      		<h2>Order Form</h2>
            <form name=purchaseForm id='payment-form' action='/api/checkout' method="POST">
    			<!-- <div class="section"> -->
    			  	<h3>Payment Information</h3>
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_BDbesOBtm6tcJRe3BlqYy4Vd"
                        data-amount="2000"
                        data-name="Pandora's Kits"
                        data-description="Payment Info"
                        data-image=""
                        data-locale="auto">
                      </script>
    			  	<!-- <div class="row">
                        <div class="col-sm-12">
        	            	<p>Credit Card #:</p>
        	            	<input type='text' class="form-control" data-stripe="number" required>
        	            </div>
                    </div>
                    <div class="row">
        	            <div class="col-sm-6">
        	            	<p>Security Code:</p>
        	            	<input class="form-control" type="text" size="4" data-stripe="cvc">
        	            </div>
        	            <div class="col-sm-6">
        	            	<p>Merchant:</p>
        	            	<select class="form-control" name="merchant">
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                                <option value="Amex">Amex</option>
                                <option value="Discover">Discover</option>
                            </select>
        	            </div>
                    </div> -->
                    <!-- <div class="row">
        	            <div class="col-sm-6">
        	            	<p>Expiration Month:</p>
                            <select class="form-control" ng-model="month" data-stripe="exp_month" ng-options="i for i in range(1, 12)"></select>
        	            </div>
                    	<div class="col-sm-6">
                    		<p>Expiration Year:</p>
                            <select class="form-control" ng-model="year" data-stripe="exp_year" ng-options="i for i in range(2016, 2026)"></select>
                        </div>
                    </div> -->
                <!-- </div> -->
                <div class="section">
    			  	<h3>Billing Information</h3>
                    <input type='text' name='random'>
    			  	<address-form></address-form>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Email:</p>
                            <input ng-model="user.email" class="form-control" name='email'>
                        </div>
                    </div>
                </div>
                <div class="section">
    			  	<h3>Shipping Information</h3>
    			  	<address-form></address-form>
          		</div>
            </form>
            <button class="btn btn-primary section" ng-click="submitOrder(order)" ng-disabled="purchaseForm.$invalid">Submit Order</button>
      </div>
      <div class="col-lg-6 panel panel-info">
      	<h2>Order Total: {{ order.subtotal | currency }}</h2>
        <detail-info button-name="Edit Cart" button-function="goToCart" details='order.orderDetails'></detail-info>
      </div>
    </div>
</div>