<div>
  <div class='row order-header'>
    <div class='col-lg-12'>
      <h2>Order Details</h2>
      <span>Ordered on {{ order.createdAt | date: 'mediumDate' }}</span>
      <span class='splitter'>|</span>
      <span>Order# {{ order.id }}</span>
    </div>
  </div>

  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='row'>

        <div class='col-lg-2'>
          <dl>
            <dt>Shipping Address</dt>
            <dd>Omri Bernstein</dd>
            <dd>5 Hanover Square</dd>
            <dd>New York, NY 10004</dd>
            <dd>United States</dd>
          </dl>
        </div>

        <div class='od-status col-lg-4'>
          <div class='a-row'>
            <div class='a-column a-span8 text-right'>
              <h5>Order Status</h5>
            </div>
          </div>
          <div class='a-row'>
            <div class='a-column a-span8 text-right'>
              <span>Status:</span>
            </div>
            <div class='a-column a-span4'>
              <select ng-model='order.status'>
                <option value='created'>Created</option>
                <option value='processing'>Processing</option>
                <option value='cancelled'>Cancelled</option>
                <option value='completed'>Completed</option>
              </select>
            </div>
            <div class='a-column a-span8 text-right'>
              <span>Paid:</span>
            </div>
            <div class='a-column a-span4'>
              <dd>
                <span ng-class="{'glyphicon glyphicon-ok': order.paid,
                  'glyphicon glyphicon-remove': !order.paid}"></span>
              </dd>
            </div>
            <div class='a-column a-span8 text-right'>Payment Date:</div>
            <div class='a-column a-span4'>{{ order.paymentDate || '-' | date: 'MM-dd-yyyy' }}</div>
            <div class='a-column a-span8 text-right'>Shipped: </div>
            <div class='a-column a-span4'>
              <span ng-class="{'glyphicon glyphicon-ok': order.shipped,
                'glyphicon glyphicon-remove': !order.shipped}"></span>
            </div>
            <div class='a-column a-span8 text-right'>Shipped Date:</div>
            <div class='a-column a-span4'>{{ order.shippedDate || '-' | date: 'MM-dd-yyyy' }}</div>
          </div>
        </div>

        <div class='od-summary col-lg-offset-3 col-lg-3'>
          <h5>Order Summary</h5>
          <div class='a-row'>
            <div class='a-column a-span8'>
              <span>Item(s) Subtotal:</span>
            </div>
            <div class='a-column a-span4'>
              <span>
                {{ order.subtotal | currency }}
              </span>
            </div>
          </div>
          <div class='a-row'>
            <div class='a-column a-span8'>
              <span>Grand Total:</span>
            </div>
            <div class='a-column a-span4'>
              <span>
                {{ order.subtotal | currency }}
              </span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
