<div>
  <h2>Orders</h2>
  <div class='row'>
    <table class='table table-hover'>
      <th>ID</th>
      <th>Order Date</th>
      <th>Status</th>
      <th>Paid</th>
      <th>Shipped</th>
      <th>Payment Date</th>
      <th>Shipped Date</th>
      <tr ng-repeat='order in orders | orderBy: "id"' ui-sref='orderDetail({ orderId: order.id })'>
        <td>{{ order.id }}</td>
        <td>{{ order.createdAt | date:'MM-dd-yyyy' }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.paid }}</td>
        <td>{{ order.shipped | date:'MM-dd-yyyy' }}</td>
        <td>{{ order.paymentDate || '-' | date:'MM-dd-yyyy' }}</td>
        <td>{{ order.shippedDate || '-' | date:'MM-dd-yyyy' }}</td>
      </tr>
    </table>
  </div>
</div>
