<alert type='danger' ng-show='error'>
  {{ error }}
</alert>

<alert type='success' ng-show='success'>
  {{ success }}
</alert>

<div id='passwordForm'>
  <h3>Change Password</h3>
  <div class='row'>
    <div class='col-xs-4'>
      <form name='passwordForm' ng-submit='changePw(p)'>
        <div class='form-group'>
          <label>Current Password</label>
          <input type='password' class='form-control' name='op'
          ng-model='p.op' required />
        </div>
        <div class='form-group'>
          <label>New Password</label>
          <input type='password' class='form-control' name='np'
          ng-model='p.np' required />
        </div>
        <div class='form-group'>
          <label>Confirm New Password</label>
          <input type='password' class='form-control' name='cnp'
          ng-model='p.cnp' required />
          <div class='form-messages' ng-if='p.cnp !== p.np'>New passwords are not the same.</div>
        </div>
        <div ng-if='passwordForm.$invalid' class='form-messages'>
          <ul class='list-unstyled'>
            <li>* All fields are required.</li>
          </ul>
        </div>
        <button type='submit' class='btn btn-success'
          ng-disabled='p.cnp !== p.np || passwordForm.$invalid'>Change Password</button>
      </form>
    </div>
  </div>
</div>
