.reviews-header {

  margin-bottom: 10px;

  .reviews-title, .create-review-btn {
    display: inline-block;
  }

  .reviews-title {
    font-size: 24px;
    font-weight: 400;
    margin-right: 25px;
  }
}

.review {

  margin-top: 10px;
  margin-bottom: 10px;

  .review-header {

    margin-bottom: 7px;

    .review-title {
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
    }

    .review-details {
      color: #555;
    }
  }
}
