<div id="container" class="kit">
    <div>
    	<h3>{{ kit.name.toUpperCase() }}</h3>
    	<small>Rating: 4 stars (placeholder)</small>
    </div>
    <div class="row">
      <div class="col-xs-8">
          <img ng-src="{{ kit.imageUrl }}">
      </div>
      <div class="col-xs-4">
      	<p>Description: {{ kit.description }}</p>
      	<p>Price: {{ kit.price | currency }}</p>
        <form name="addToCartForm">
          <div ng-show="{{ kit.quantity > 0 }}">
            <p>
              Qty: 
              <input type="number" ng-model="userQty" min="1" required>
              <span class="alert alert-danger" ng-show="warning">Only {{ kit.quantity }} left!</span>
            </p>
            <button class="btn btn-primary" ng-click="addToCart(kit, userQty, user)" ng-disabled="addToCartForm.$invalid">ADD TO CART</button>
          </div>
          <p class="alert alert-danger" ng-hide="{{ kit.quantity > 0 }}">SOLD OUT</p>
        </form>
      </div>
    </div>

    <reviews-list reviews='kit.reviews'></reviews-list>

</div>
