<div id="container" class="kit">
    <div>
    	<h3>{{ kit.name.toUpperCase() }}</h3>
    	<small>Rating: 4 stars (placeholder)</small>
    </div>
    <div class="row">
      <div class="col-xs-8">
          <img ng-src="{{ kit.imageUrl }}">
      </div>
      <div class="col-xs-4">
      	<p>Description: {{ kit.description }}</p>
      	<p>Price: ${{ kit.price }}</p>
        <form>
          <div ng-show="{{ kit.quantity > 0 }}">
            <p>Qty: <input type="number" value="{{ initialValue }}" ng-model="userQty" min="1" required></p>
            <button>ADD TO CART</button>
          </div>
          <p class="soldout" ng-hide="{{ kit.quantity > 0 }}">SOLD OUT</p>
        </form>
        <br><p>Subtotal: {{ userQty * kit.price }}</p>
      </div>
    </div>
</div>