<div class="container" class="kit">

    <div class='kitHdr'>
    	<h3 contenteditable='{{ user.isAdmin || false}}' ng-model='kit.name'>{{ kit.name.toUpperCase() }}</h3>
    	<small>Rating: 4 stars (placeholder)</small>
    </div>
    <a  ng-show= 'user.isAdmin' ng-click='deleteKit(kit)' class='deleteKit'><span class="glyphicon glyphicon-remove-sign"></span>Delete Kit</a>
    <div class="row">
      <div class="col-xs-8">
          <img ng-src="{{ kit.imageUrl }}">
      </div>
      <div class="col-xs-4">
        Description: <p contenteditable='{{ user.isAdmin || false}}' ng-model='kit.description' > {{ kit.description }}</p>
        Price: <p contenteditable='{{ user.isAdmin || false}}' ng-model='kit.price'> {{ kit.price | currency }}</p>
        <form name="addToCartForm">
          <div ng-show=" kit.quantity > 0 && !user.isAdmin ">
            <p>
              Qty:
              <input type="number" ng-model="userQty" min="1" required>
              <span class="alert alert-danger" ng-show="warning">Only {{ kit.quantity }} left!</span>
            </p>
            <button class="btn btn-primary" ng-click="addToCart(kit, userQty, user)" ng-disabled="addToCartForm.$invalid">ADD TO CART</button>
          </div>
          <p class="alert alert-danger" ng-hide="{{ kit.quantity > 0 }}">SOLD OUT</p>
          </form>
          <form ng-show="user.isAdmin">

            <div class='form-group'>
            <label for="qty">In Stock</label>
            <input type="number" ng-model="kit.quantity" id='qty' min="1" required>
            </div>

            <div class='form-group'>
            <label for="imgUrl">Image Url</label>
            <input type="text" ng-model='kit.imageUrl' id='imgUrl'>
            </div>

            <div class='form-group'>
            <label for="imgUrl">Categories</label>
            <input type="text" ng-model='kit.categories' id='imgUrl'>
            </div>
          </div>
        </form>
      </div>

    <hr class='separator' />

    <div class='reviews-header'>
      <div class='reviews-title'>Customer Reviews ({{ kit.reviews.length || 0 }})</div>
      <a ng-click='open()' ng-if='user && notReviewed' class='btn btn-success create-review-btn'>Write a review</a>
    </div>

    <reviews-list reviews='kit.reviews' dataid='kit.id' cols='2'></reviews-list>

</div>
