<div id="container" class="kits">
  <h3 class='kits'>{{title}}</h3>
    <a  ng-show= 'user.isAdmin'class='glyphicon glyphicon-plus-sign add-product' ng-click='open()'></a>

  <div class="row">
    <div class="col-xs-4" ng-repeat="kit in kits">
      <a class="thumbnail" ui-sref="kit({kitId: kit.id})">
        <img ng-src="{{ kit.imageUrl }}">
        <div class="caption">
          <h5>Name: {{ kit.name.toUpperCase() }}</h5>
          <p>Price: ${{ kit.price }}</p>
        </div>
      </a>
    </div>
  </div>
</div>






