#container {
	margin: 0 5%;
}

.kits {
	img {
		max-height: 200px
	}
}

.kit {
	img {
		max-width: 100%
	},
	span {
		.soldout {
			color: red;
		},

		.inventoryWarning {
			margin-left: 10px
		}
	}
}