* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.separator {
  border-top: 1px solid #DDD;
}

.splitter {
  color: #DDD;
  margin-right: 8px;
  margin-left: 8px;
}

.finger {
  cursor: pointer;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'kit/main';
@import 'signup/main';
@import 'orders/main';
@import 'starsRating/main';
@import 'reviews/main';
