#orders {

  @include clearfix;

}

.a-column {
  margin-right: 3%;
  float: left;
  min-height: 1px;
  overflow: visible;
}
.a-row {
  width: 100%;

  @for $i from 1 through 12 {
    .a-span#{$i} {
      width: 93% / (12 / $i);
    }
  }

}

#order-detail {

  .splitter {
    color: #DDD;
    margin-right: 10px;
    margin-left: 10px;
  }

  .order-header {
    margin-bottom: 15px;
  }

  .od-summary {
  }

  .od-info {

    margin-bottom: 15px;

    .subtotal {
      font-weight: bold;
    }

  }

}
